<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <div>
    <button class="btn btn-large btn-success" [attr.data-did-siop]="did_siop_request">DID SIOP Login</button>
  </div>
  <div class="important d-flex flex-column align-items-center mt-2">
    <h4 class="mb-0"><small>Important</small></h4>
    <p class="mt-0  text-center chrome-v">This application works only on Google Chrome and has tested on Version 80.0.3987.163 (Official Build) (64-bit)</p>
    <p class="mt-2  text-center extension-check">Please make sure you have installed the Chrome Extension DID-SIOP before trying to login. You could
      <a href="https://drive.google.com/drive/folders/1h6Ow_ibp_Pet8oBkGKfCOSzKVFHgZM18" target="_blank">download it
        here</a></p>
  </div>
  <div class="resources d-flex flex-column align-items-center mt-5">
    <h4 class="text-primary"><u>Resources</u></h4>
    <p class="small mt-2 mb-0"><a href="https://identity.foundation/did-siop/" target="_blank">- DID SIOP Specification -</a></p>
    <p class="small mt-0 mb-0"><a href="https://github.com/RadicalLedger/did-siop-chrome-ext" target="_blank">- Source Code for Browser Extension -</a></p>
    <p class="small mt-0 mb-0"><a href="https://www.npmjs.com/package/did-siop" target="_blank">- did-siop npm library. Used in relying party apps -</a></p>
    <p class="small mt-0 mb-0"><a href="https://cdn.jsdelivr.net/npm/did-siop@1.3.0/dist/browser/did-siop.min.js" target="_blank">- Library via CDN -</a></p>
    <p class="small mt-0 mb-0"><a href="https://github.com/RadicalLedger/did-siop-rp-web-test" target="_blank">- Sourcecode for Relying Party sample application (this application) -</a></p>
  </div>
</div>
