<div class="container-fluid mt-4 d-flex flex-column align-items-center justify-content-center index-wrapper">
  <div class="row index-wrapper-row">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center login-controls">
      <div class="container-fluid px-0 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center logo">
          <img class="img-fluid" src="assets/logo.png" alt="did siop logo">
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center login-btn">
          <button class="btn btn-success btn-large" [attr.data-did-siop]="did_siop_request">Login With Your DID</button>
        </div>
        <div class="d-flex justify-content-center qr-code">
          <qrcode [qrdata]="did_siop_request" [width]="280" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="d-flex justify-content-center ">
          <p class="header">Or scan this QR with did-siop-mobile app to login !</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex flex-column align-items-start info">
      <div class="heading">
        <h1>Relying Party App Using DID-SIOP</h1>
      </div>
      <div class="container-fluid px-0 d-flex flex-column important">
        <h5>Important</h5>
        <p>This application works and tested on Google Chrome, Mozila Firefox and Microsoft Edge browsers. Please make sure you have installed the Extension DID-SIOP before trying to login. You could download it here.
        </p>
        <div class="container stores">
          <div class="row">
            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column store">
                <a href="{{storesData.chrome.link}}" target="_blank"><fa-icon [icon]="storesData.chrome.icon"></fa-icon></a>
              </div>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column store">
                <a href="{{storesData.fireFox.link}}" target="_blank"><fa-icon [icon]="storesData.fireFox.icon"></fa-icon></a>
              </div>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column store">
                <a href="{{storesData.edge.link}}" target="_blank"><fa-icon [icon]="storesData.edge.icon"></fa-icon></a>
              </div>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column store">
                <a href="{{storesData.drive.link}}" target="_blank"><fa-icon [icon]="storesData.drive.icon"></fa-icon></a>
              </div>
            </div>
          </div>
        </div>
        <a class="instructions-video" href="https://www.youtube.com/watch?v=Hd9PwHotU84" target="_blank">Step by step instructions to set up the extension (Video)</a>
      </div>
      <div class="container-fluid px-0 d-flex flex-column resources">
        <h5>Resources</h5>
        <ul>
          <li><a href="https://identity.foundation/did-siop/" target="_blank">DID SIOP Specification</a></li>
          <li><a href="https://github.com/RadicalLedger/did-siop-chrome-ext" target="_blank">Source Code for Browser Extension</a></li>
          <li><a href="https://www.npmjs.com/package/did-siop" target="_blank">did-siop npm library. Used in relying party apps</a></li>
          <li><a href="https://cdn.jsdelivr.net/npm/did-siop@1.4.4/dist/browser/did-siop.min.js" target="_blank">Library via CDN</a></li>
          <li><a href="https://github.com/RadicalLedger/did-siop-rp-web-test" target="_blank">Sourcecode for Relying Party sample application (this application)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
