<div class="container-fluid mt-5">
  <div class="d-flex justify-content-center">
    <div *ngIf="did_user" class="success-message d-flex flex-column align-items-center">
      <h4>Congratulations ! You are successfully authorized to this App</h4>
      <p class="mt-4 mb-0"><b>Your DID</b></p>
      <p class="mt-0"><b>{{did_user}}</b></p>
    </div>
    <div *ngIf="did_error">
        <h4>Error: {{did_error.error}}</h4>
        <h4>Description: {{did_error.description}}</h4>
    </div>
  </div>
</div>